{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Greetings! I'm Meet Patel, and I'm currently in my second year of studying computer science engineering. I'm excited to invite you to explore my blog, a platform where I embark on a journey to unravel the mysteries of the world while sharing captivating and thought-provoking facts.
        </p>
        <p>
          Discovering the World: One of the primary objectives of my blog is to take you on a virtual tour of our fascinating world. From awe-inspiring natural wonders to the latest technological innovations, I strive to present an array of topics that will leave you informed and inspired.
        </p>
        <p>
          Interesting Facts: In addition to exploring the world, I love digging up intriguing facts and stories that often go unnoticed. You can expect to find a collection of these little-known nuggets of knowledge that are sure to spark your curiosity.
        </p>
      </div>
    </div>
    <div>
      <a class="btn btn-primary float-left" href="{{url_for('get_all_posts')}}">Go Back</a>
    </div>
  </div>

  <hr>

{% include "footer.html" %}